:root {
  --grey: #333;
}

.container {
  border-radius: 8px;
  padding: 16px;
  background: #fff;
}

.table {
  border-collapse: collapse;
}

.cell {
  border: 1px solid #999;
  padding: 0;
}

/* Here we are making out lines between every 3 cell thicker to indicate the groups */
.cell:nth-child(3),
.cell:nth-child(6),
.cell:nth-child(9) {
  border-right: 3px solid var(--grey);
}
.cell:nth-child(1) {
  border-left: 3px solid var(--grey);
}

/* Here same thing but in the rows instead */
.table tr:nth-child(3) .cell,
.table tr:nth-child(6) .cell,
.table tr:nth-child(9) .cell {
  border-bottom: 3px solid var(--grey);
}
.table tr:nth-child(1) .cell {
  border-top: 3px solid var(--grey);
}

input {
  width: 50px;
  height: 50px;
  text-align: center;
  font-size: 23px;
  border: none;
  outline: none;
  background: inherit;
  color: black;
  cursor: default;
}

input:focus {
  background: lightblue;
  caret-color: transparent;
}